*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 97%;
    height: 650px;
    margin: auto;
    padding: 10px;
    background: rgb(3, 3, 48);
    border-radius: 12px;
    display: flex;
}
.incontainer{
    width: 75%;
    justify-content: center;
    align-items: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-image: url('./images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    margin-top: 100px;
    margin-left: auto;
}
.header{
    width: 92.5%;
    height: 70px;
    background-color: rgb(251, 249, 249);
    border-radius: 5px;
    margin-top: 8%;
}
.logo{
    width: auto;
    height: 40px;
    margin-top: -10px;
    margin-left: 47%;
}
.etoiles{
    font-size: 8px;
    margin-top: 2px;
    margin-left: 46.5%;
    color: gold;
}
.menu{
    display: flex;
    gap: 10px;
    margin-top: -25px;
    list-style: none;
    margin-left: 70%;
}
.menu a{
    font-size: 12px;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    border: 2px solid gold;
    border-radius: 5px;
    transition: 0.3s;
}
.menu a:hover{
    background-color: gold;
    color: white;
}
.aligne{
    display:flex;
    align-items: center;
    gap: 10px;
    color: aliceblue;
}
.text {
    width: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 15%;
    margin-top: 250%;
    font-style: italic;
}
.fleche{
    font-size: 100px;
    color: white;
    margin-top: 220%;
    margin-left: 55%;
    animation: bounceRight 1.5s infinite;
    transform: rotate(-5deg);
}
@keyframes bounceRight{
    0% {
        transform: translateX(0) rotate(-3deg);
        color: white;
    }
    50% {
        transform: translateX(15px) rotate(-3deg);
        color: gold;
    }
    100% {
        transform: translateX(0) rotate(-3deg);
        color: white;
    }
} 
.baobab{
    /*display: block;*/
    width: 92.5%;
    /*clear: both;*/
    margin-top: 0;
    height: 500px;
    background-image: url('./images/istockphoto-476756494-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.texte{
    width: auto;
    height: 27px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 4px;
    text-align: center;
    margin-top: 45%;
}
.container1{
    width: 97%;
    height: 500px;
    margin: auto;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 12px;
    display: flex;
}
.para{
    width: 40%;
    height: auto;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 700px bold;
    text-align: center;
    margin-top: 10%;
    margin-left: 28.5%;
    backdrop-filter: blur(8px);
    font-family: 'Playfair Display', serif;
    transition: transform 0.3 ease;
}
.para:hover{
    transform: translateY(-5px);
}
#container2{
    width: 97%;
    height: 800px;
    margin: 30px auto;
    padding: 10px;
    background: none;
    border-radius: 12px;
}
.back{
    position: relative;
    width: 60%;
    height: 60vh;
    margin-top: 18%;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
}
.fond-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}
.chambre1{
    width: 20%;
    height: 150px;
    background-image: url("./images/th\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-left: 30%;
    border-radius: 10px;
}
.chambre2{
    width: 20%;
    height: 150px;
    background-image: url("./images/th.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    margin-left: 55%;
    border-radius: 10px;
}
.chambre3{
    width: 20%;
    height: 150px;
    background-image: url("./images/pexels-andrew-19799232.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    margin-left: 80%;
    border-radius: 10px;
}
.chambre1, .chambre2, .chambre3 p{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    animation: Colorcycle 3s infinite ease-in-out;
    transition: color 0.5s ease;
}
@keyframes Colorcycle {
    0% { color: black;}
    33% { color: gold;}
    66% { color: #444;}
    100% { color: black;}
}
.a{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-top: -52%;
    margin-left: 57%;
    font-weight: bold;

}
.mot-rot{
    position: relative;
    height: 3rem;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 12%;
    color: black;
    font-family: 'Playfair Display', serif;

}
.mot-rot span{
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: rotateMots 5s infinite;
}
.mot-rot span:nth-child(1){
    animation-delay: 0s;
}
.mot-rot span:nth-child(2){
    animation-delay: 3s;
}
.mot-rot span:nth-child(3){
    animation-delay: 6s;
}

@keyframes rotateMots {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    10%{
        opacity: 1;
        transform: translateY(0);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    
    40%{
        opacity: 0;
        transform: translateY(0);
    }
    60%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 0;
    }
    
}
.bouton{
   width: 20%;
   height: auto;
   margin-top: 25%;
}
.bouton button{
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.bouton button:hover{
    color: gold;
}
#container3{
    width: 97%;
    height: 800px;
    margin: 250px auto;
    padding: 10px;
    background: none;
    border-radius: 12px;
}
.back1{
    position: relative;
    width: 60%;
    height: 60vh;
    margin-top: 18%;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden;
}
.fond-video1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
}
.food1{
    width: 20%;
    height: 150px;
    background-image: url("./images/food1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-left: 30%;
    border-radius: 10px;
}
.food2{
    width: 20%;
    height: 150px;
    background-image: url("./images/food2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    margin-left: 55%;
    border-radius: 10px;
}
.food3{
    width: 20%;
    height: 150px;
    background-image: url("./images/food3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    margin-left: 80%;
    border-radius: 10px;
}
.food1, .food2, .food3 p{
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    animation: Colorcycle 3s infinite ease-in-out;
    transition: color 0.5s ease;
}
@keyframes colorcycle {
    0% { color: black;}
    33% { color: gold;}
    66% { color: #444;}
    100% { color: black;}
}
.a{
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    margin-top: -52%;
    margin-left: 57%;
    font-weight: bold;

}
.a0{
    margin-top: -10%;
}
.mot-rot1{
    position: relative;
    height: 3rem;
    overflow: hidden;
    font-size: 40px;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 12%;
    color: black;
    font-family: 'Playfair Display', serif;

}
.mot-rot1 span{
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: rotateMots 5s infinite;
}
.mot-rot1 span:nth-child(1){
    animation-delay: 0s;
}
.mot-rot1 span:nth-child(2){
    animation-delay: 3s;
}
.mot-rot1 span:nth-child(3){
    animation-delay: 6s;
}

@keyframes rotateMots {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    10%{
        opacity: 1;
        transform: translateY(0);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    
    40%{
        opacity: 1;
        transform: translateY(0);
    }
    60%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
    }
    
}
.bouton1{
   width: 20%;
   height: auto;
   margin-top: 25%;
}
.bouton1 button{
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}
.bouton button:hover{
    color: gold;
}
